@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-image: url('../public/assets/images/app-background.svg'), url('../public/assets/images/app-background-blub.svg');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.app {
  @apply max-w-[460px] mx-auto min-h-screen;
}

.page {
  @apply px-36 py-20;

  &--centered {
    @apply flex items-center justify-center;
  }
}

.btn {

}
