@tailwind base;
@tailwind components;
@tailwind utilities;


.app_container {
  background-image: url('../public/assets/images/app-background.svg'), url('../public/assets/images/app-background-blub.svg');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  &__dark {
    @apply bg-black3;
    background-image: url("../public/assets/images/app-background-illustrator.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.app {
  @apply max-w-[460px] w-screen mx-auto h-screen flex flex-col;
}

.page {
  @apply w-full px-5 pb-4 overflow-y-scroll;
  @apply no-scrollbar;

  &__splash {
    @apply min-h-screen;
  }
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    cursor: pointer;
    border-radius: 100%;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #5158F600;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ECEDFF;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ECEDFF;
    cursor: pointer;
  }
}

.row {
  @apply flex justify-between w-full gap-4 items-stretch;
}

.card {
  @apply bg-white bg-opacity-90 rounded-[10px] px-[18px] py-4 flex-1 flex flex-col justify-center;
}

.icon {
  @apply w-10 h-10;
}

.btn {
  @apply text-black py-2 px-4 rounded-[6px] font-bold bg-pastel-purple;

  &--icon {
    @apply p-2;

    & img {
      @apply w-4 h-4;
    }
  }

  &--big {
    @apply p-3 font-bold text-lg rounded-xl;
  }
}